{% extends 'base.html' %}

{%block body%}
<html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('upload')}}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
<head>
    <title></title>
</head>
<body>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 33%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 33%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div style="text-align: left; margin-left: 650px">
  <h3 style="margin-bottom: 40px; margin-top: 40px"> <u>Results for cluster 3 :- Summary Report </u> </h3>
    {% for line in content %}
        <p style="margin-bottom: 10px">{{line}} </p>

    {% endfor %} </div>
</body>
<div style="margin-top: 100px">
  <ul class="pagination pagination-sm">
    <li class="page-item active">
      <a class="page-link" href="#"></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Work performed by Ambarish Moharil and Prof.Dr.Arpit Sharma</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"></a>
  </ul>
</div>
</html>
{% endblock %}